/*
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
    */


/*
.container meu-conteudo-de-pagina {

    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


body {
    min-height: 100vh;
}

.container.meu-conteudo-de-pagina {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    gap: 20px;
    padding: 20px;
    margin-top: 100px; 
    margin-bottom: 100px; 
    overflow-x: auto;
}

.box {
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    flex: 0 0 calc(20% - 20px);
    max-height: 300px;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.box button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00A3C6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.box button:hover {
    background-color: #01748F;
}

/*
footer {
    display: flex;
    position: fixed;
    margin: auto;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color:  #3385ff
}
*/

.navbar {
    margin: 0;
    padding: 10px 0; 
    background-color: #3385ff !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}
.navbar-brand img {
    width: 45px; 
    height: auto; 
    margin-right: 10px; 
}

.navbar-toggler {
    background-color: transparent; 
    border: none; 
}

/*
.navbar-toggler-icon {
    background-color: #fff; 
}
*/

.navbar-nav {
    display: flex;
    gap: 20px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    /*color: #fff; */
    text-decoration: none;
    transition: color 0.2s;
}


.navbar-nav .nav-link:hover {
    color: #543B26;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #3385ff;
}

.dropdown-menu {
    background-color: #3385ff;
}

@media (min-width: 481) {
    .navbar-nav .nav-link {
        font-size: 20px;
        margin-bottom: 0;
    }

    .navbar {
        background-color: #3385ff !important;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
}

/*
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
    .meu-conteudo-de-pagina{
padding-top: 380px;
    }
}
*/

@media (max-width: 1200px) {
    .box {
        flex: 1 1 calc(25% - 20px); /* Ajusta para 4 cards por linha */
    }
}

@media (max-width: 992px) {
    .box {
        flex: 1 1 calc(33.33% - 20px); /* Ajusta para 3 cards por linha */
    }
}

@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 20px); /* Ajusta para 2 cards por linha */
    }
}

@media (max-width: 576px) {
    .box {
        flex: 1 1 100%; /* Ajusta para 1 card por linha */
    }
}