.navbar {
    margin-bottom: 0 !important;
    margin-top: 0; 
    padding: 10px 0; 
    background-color: rgba(173, 216, 230, 0.7); 
    
}

.navbar-brand img {
    width: 45px; 
    height: auto; 
    margin-right: 10px; 
}

.navbar-toggler {
    background-color: transparent; 
    border: none; 
}

.navbar-toggler-icon {
    background-color: #fff; 
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: #97694F; 
}

.navbar-nav .nav-link:hover {
    color: #543B26; 
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #3385ff;
}

.dropdown-menu {
    background-color: #3385ff;
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        font-size: 20px;
        margin-bottom: 0;
    }

    .navbar {
        background-color: #3385ff !important;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
}


.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

p {
    font-size: 22px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}


button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#responseMessage {
    margin-top: 20px;
    font-weight: bold;
}


#card2 {
    width: 100%;
}
footer {
    background-color: #3385ff;
    
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
}

footer a:hover {
    text-decoration: underline;
}
